@import url('https://fonts.googleapis.com/css?family=Impact:400,800');
body{
    background: #f6f5f7; 
    font-family: 'Impact', sans-serif;
    color: #3E363F;
    background-image:url(azul.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

   
            /*linear-gradient(45deg,
              #FF416C (245, 66, 170, 0.75),
              rgba(29, 113, 197, 0.75)); */
}

#mensaje{
    /*border: #0A81D1 2px solid;*/
    background: #f6f5f7;
    padding: 25px;
}

#contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
}
#calculadora{
    background: white;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    font-family: 'Monserrath', sans-serif;
    background: #2cbfb8;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: right;
    color: #f6f5f7;
    border-radius: 10px;
        width: 50%;
    height: 100%;
}
.contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}
button {
    margin: 20px;
    font-size: 15px;
      font-weight: bold;
      padding: 12px 45px;
      border-radius: 30px;
      background-color: #2cbfb8;
      border: 1px solid #2cbfb8;
      color: #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: transform 20ms ease-in;
  }
  button:active {
	transform: scale(0.95);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    display: none;
}